<!-- 还款记录路由：/usersmetadata/getusersrepaymentrecords -->
<div class="panle" id="user_repayment_record">
	<div class="panel-title">
		<b class="panel-line"></b> 还款记录 </div>
	<form id="searchForm2" action="" method="get">
		<div class="panle-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>还款时间</th>
						<th>还款金额</th>
						<th>还款渠道</th>
						<th>订单号</th>
						<th>还款方式</th>
						<th>还款结果</th>
						<th>操作人</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
                {{range $k,$v := .data}}
					<tr>
						<td>{{$v.CreateTime}}</td>
						<td>{{$v.ReturnMoney}}</td>
						{{if eq $v.Channel 1}}
                            <td>连连支付</td>
                        {{else if eq $v.Channel 2}}
                            <td>支付宝支付</td>
                        {{else if eq $v.Channel 5}}
                            <td>支付宝转账</td>
                        {{else if eq $v.Channel 6}}
                            <td>银行卡转账</td>
                        {{else if eq $v.Channel 9}}
                            <td>费用减免</td>
                        {{else if eq $v.Channel 3}}
                            <td>合利宝代扣</td>
						{{else if eq $v.Channel 7}}
                            <td>融宝代扣</td>
						{{else if eq $v.Channel 8}}
                            <td>畅捷代扣</td>
						{{else if eq $v.Channel 10}}
                            <td>先锋代扣</td>
                        {{else}}
                        {{end}}
						<td>{{$v.OrderNumber}}</td>
                        <td>{{if eq $v.OperatorId -1 1}}主动还款{{else}}代扣{{end}}</td>
						<td>{{if eq $v.State "CONFIRM"}}<span class='mainColor-text'>确认中</span>
                            {{else if eq $v.State "FAIL"}}<span class='mainred-text'>失败</span>
                            {{else if eq $v.State "SUCCESS"}}成功{{end}}
                        </td>
						<td>{{$v.Displayname}}</td>
						<td>{{$v.Remark}}</td>
						<td data-id="{{$v.Id}}">
							{{if eq $v.State "CONFIRM"}}
								<a href="javascript:;" class='J_closeOrder' style='color: #63C4A0;cursor: pointer'>关闭订单</a>
							{{end}}
						</td>
					</tr>
                {{end}}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="9">
							<div class="fl">
								<div class="pagination"> 每页 
									<select name="" id="" class='form-control pageSize' style='display:inline-block;width:auto;'>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select> 条，共{{.count}}条
								</div>
							</div>
							<div class="fl">
								<div class="pagination" id="pagination2" data-url="/usersmetadata/getusersrepaymentrecords?uid={{IdUidEncrypt .uid}}" pageSize="{{.pageSize}}" currentPage="{{.currPage}}" pageCount="{{.pageCount}}"></div>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function () {
		$("#pagination2").my_page("", "#user_repayment_record");
		$(".J_closeOrder").off().click(function(){
		    var prId = $(this).parent().data("id")
			dialog.init({
				title : "关闭订单",
				tips : "请确认用户银行卡未扣款再关闭订单",
				buttons : [{
					text : "确定",
					style : "green",
					func : function(){
						$.zpost("/usersmetadata/closepaymentrecordorder",{pr_id:prId},function(rslt){
							if(rslt.ret == 200){
								$(".J_modal").remove();
								ajaxLoad($(".workplace-nav li").eq(1));
							}else{
								alert(rslt.msg);
							}
						});
					}
				},{
					text : "取消",
					style : "default modal_close"
				}]
			})
		})
	});
</script>