<!-- 催收记录路由：/usersmetadata/getcollectionrecord -->
<div class="panel">
    <div class="panel-title"> <b class="panel-line"></b> 催收记录</div>
    <div class="panel-body">
        <div class="sorryBox" style='width:380px;margin:50px auto 0;'>
            <img src="../../static/img/notopened.png" alt="">
            <div style='display:inline-block;padding:5px;'>
                <p style='font-size:24px;color:#6F8A97;height:30px;line-height:30px;'>催收模块还没开发呢</p>
                <p style='font-size:14px;color:#c9c9c9;margin-top:10px;'>再等等就有了</p>
            </div>
        </div>
    </div>
</div>