<!-- 通过汇总 -->
<style>
        .table.table-noborder tr td {
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            color: #63C4A0;
            font-weight: bold;
        }
    
        .table.table-noborder {
            margin-bottom: 15px;
        }
    
        .statistics {
            cursor: pointer;
        }
    
        th {
            text-align: center;
        }
        .pull-left{
            margin-right:30px;
        }
        .pull-left select{
            width:120px;
        }
    </style>
    <div class="sticky-header">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel_border">
                        <div class="panel_heading">
                            <form id="searchForm2" action="/collection/innergroupdatanew" method="get">
                                <ul class="nav pull-left" style="width: 100%;">
                                    <li class="pull-left">
                                        催收阶段
                                        <select name="collectionType" id="business_type">
                                            <option value="M0催收组">M0</option>
                                            <option value="S1催收组">S1</option>
                                            <option value="S2催收组">S2</option>
                                            <option value="S3催收组">S3</option>
                                        </select>
                                    </li>
                                    <li class="pull-left">
                                        查看期限
                                        <select name="timeType" id="timeLimit">
                                            <option value="day">按日查看</option>
                                            <option value="month">按月查看</option>
                                        </select>
                                    </li>
                                    <li class="pull-left" id='dateContainer'>
                                        <input id="startDate" class="Wdate input-small" type="text" value={{.beginTime}} onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="beginTime" placeholder='请选择日期' />
                                    </li>
                                    <li class="pull-left">
                                        <button type="submit" class="btn btn-green">搜索</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="panel-body">
                            <form action="" id="form2" method="post">
                                <table class='table table-bordered text-center'>
                                {{if eq .collectionType "M0催收组"}}
                                    <thead>
                                        <th>组别</th>
                                        <th>分配户数</th>
                                        <th>分配金额</th>
                                        <th>回收户数</th>
                                        <th>户数回收率</th>
                                        <th>回收金额</th>
                                        <th>金额回收率</th>
                                        <th>排名</th>
                                    </thead>
                                    <tbody>
                                    {{if eq .timeType "day"}}
                                        {{if gt .sumList.MoneyOnFile 0.00}}
                                            {{range $k,$v := .list}}
                                                <tr>
                                                    <td>{{$v.Team}}</td>
                                                    <td>{{$v.AmountOnFile}}</td>
                                                    <td>{{f2s $v.MoneyOnFile}}</td>
                                                    <td>{{$v.ReturnAmount}}</td>
                                                    <td>{{cent $v.ReturnAmount $v.AmountOnFile}}</td>
                                                    <td>{{f2s $v.ReturnMoney}}</td>
                                                    <td>{{percent $v.ReturnMoney $v.MoneyOnFile}}</td>
                                                    <td>{{$v.Rank}}</td>
                                                 </tr>
                                            {{end}}
                                            <thead>
                                            <th>总计</th>
                                                <td>{{.sumList.AmountOnFile}}</td>
                                                <td>{{f2s .sumList.MoneyOnFile}}</td>
                                                <td>{{.sumList.ReturnAmount}}</td>
                                                <td>{{cent .sumList.ReturnAmount .sumList.AmountOnFile}}</td>
                                                <td>{{f2s .sumList.ReturnMoney}}</td>
                                                <td>{{percent .sumList.ReturnMoney .sumList.MoneyOnFile}}</td>
                                                <th></th>
                                                </thead>
                                        {{end}}
                                    {{else}}
                                        {{if gt .sumList.MoneyOnFileMonth 0.00}}
                                            {{range $k,$v := .list}}
                                            <tr>
                                                <td>{{$v.Team}}</td>
                                                <td>{{$v.AmountOnFileMonth}}</td>
                                                <td>{{f2s $v.MoneyOnFileMonth}}</td>
                                                <td>{{$v.ReturnAmountMonth}}</td>
                                                <td>{{cent $v.ReturnAmountMonth $v.AmountOnFileMonth}}</td>
                                                <td>{{f2s $v.ReturnMoneyMonth}}</td>
                                                <td>{{percent $v.ReturnMoneyMonth $v.MoneyOnFileMonth}}</td>
                                                <td>{{$v.Rank}}</td>
                                            </tr>
                                            {{end}}
                                            <th>总计</th>
                                                <td>{{.sumList.AmountOnFileMonth}}</td>
                                                <td>{{f2s .sumList.MoneyOnFileMonth}}</td>
                                                <td>{{.sumList.ReturnAmountMonth}}</td>
                                                <td>{{cent .sumList.ReturnAmountMonth .sumList.AmountOnFileMonth}}</td>
                                                <td>{{f2s .sumList.ReturnMoneyMonth}}</td>
                                                <td>{{percent .sumList.ReturnMoneyMonth .sumList.MoneyOnFileMonth}}</td>
                                            <th></th>
                                            </thead>
                                        {{end}}
                                    {{end}}
                                {{else}}
                                    <thead>
                                        <th>组别</th>
                                        <th>分配户数</th>
                                        <th>分配金额</th>
                                        <th>分配本金金额</th>
                                        <th>分配滞纳金金额</th>
                                        <th>回收本金</th>
                                        <th>本金回收率</th>
                                        <th>回收滞纳金</th>
                                        <th>滞纳金回收率</th>
                                        <th>排名</th>
                                    </thead>
                                    <tbody>
                                        {{if eq .timeType "day"}}
                                            {{if gt .sumList.CapitalOnFile 0.00}}
                                                {{range $k,$v := .list}}
                                                    <tr>
                                                        <td>{{$v.Team}}</td>
                                                        <td>{{$v.AmountOnFile}}</td>
                                                        <td>{{f2s $v.MoneyOnFile}}</td> 
                                                        <td>{{f2s $v.CapitalOnFile}}</td>
                                                        <td>{{f2s $v.LateFeeOnFile}}</td>
                                                        <td>{{f2s $v.ReturnCapital}}</td>
                                                        <td>{{percent $v.ReturnCapital $v.CapitalOnFile}}</td>
                                                        <td>{{f2s $v.ReturnLateFee}}</td>
                                                        <td>{{percent $v.ReturnLateFee $v.LateFeeOnFile}}</td>
                                                        <td>{{$v.Rank}}</td>
                                                    </tr>
                                               {{end}}
                                               <th>总计</th>
                                                   <td>{{.sumList.AmountOnFile}}</td>
                                                   <td>{{f2s .sumList.MoneyOnFile}}</td>
                                                   <td>{{f2s .sumList.CapitalOnFile}}</td>
                                                   <td>{{f2s .sumList.LateFeeOnFile}}</td>
                                                   <td>{{f2s .sumList.ReturnCapital}}</td>
                                                   <td>{{percent .sumList.ReturnCapital .sumList.CapitalOnFile}}</td>
                                                   <td>{{f2s .sumList.ReturnLateFee}}</td>
                                                   <td>{{percent .sumList.ReturnLateFee .sumList.LateFeeOnFile}}</td>
                                                <th></th>
                                                </thead>
                                            {{end}}
                                        {{else}}
                                            {{if gt .sumList.CapitalOnFileMonth 0.00}}
                                                {{range $k,$v := .list}}
                                                    <tr>
                                                        <td>{{$v.Team}}</td>
                                                        <td>{{$v.AmountOnFileMonth}}</td>
                                                        <td>{{f2s $v.MoneyOnFileMonth}}</td>
                                                        <td>{{f2s $v.CapitalOnFileMonth}}</td>
                                                        <td>{{f2s $v.LateFeeOnFileMonth}}</td>
                                                        <td>{{f2s $v.ReturnCapitalMonth}}</td>
                                                        <td>{{percent $v.ReturnCapitalMonth $v.CapitalOnFileMonth}}</td>
                                                        <td>{{f2s $v.ReturnLateFeeMonth}}</td>
                                                        <td>{{percent $v.ReturnLateFeeMonth $v.LateFeeOnFileMonth}}</td>
                                                        <td>{{$v.Rank}}</td>
                                                    </tr>
                                               {{end}}
                                               <th>总计</th>
                                                    <td>{{.sumList.AmountOnFileMonth}}</td>
                                                    <td>{{f2s .sumList.MoneyOnFileMonth}}</td>
                                                    <td>{{f2s .sumList.CapitalOnFileMonth}}</td>
                                                    <td>{{f2s .sumList.LateFeeOnFileMonth}}</td>
                                                    <td>{{f2s .sumList.ReturnCapitalMonth}}</td>
                                                    <td>{{percent .sumList.ReturnCapitalMonth .sumList.CapitalOnFileMonth}}</td>
                                                    <td>{{f2s .sumList.ReturnLateFeeMonth}}</td>
                                                    <td>{{percent .sumList.ReturnLateFeeMonth .sumList.LateFeeOnFileMonth}}</td>
                                                <th></th>
                                                </thead>
                                            {{end}}
                                        {{end}}
                                    </tbody>
                                {{end}}
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var day = {{.day}};
        var month = {{.month}};
        $(function () {
            $("#timeLimit").change(function () {
                var value = $(this).val();
                if (value == "month") {
                    $("#dateContainer").empty().html('<input id="startDate" class="Wdate input-small" type="text"  onFocus="WdatePicker({dateFmt:\'yyyy-MM\'})" name="beginTime" placeholder="请选择日期" />')
                    $("#startDate").val(month);
                } else if (value == "day") {
                    $("#dateContainer").empty().html('<input id="startDate" class="Wdate input-small" type="text"  onFocus="WdatePicker({dateFmt:\'yyyy-MM-dd\'})" name="beginTime" placeholder="请选择日期" />')
                    $("#startDate").val(day);
                }
            }).change();
        })
    </script>